* {
  box-sizing: border-box;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  padding: 1rem;
  background-color: #dae0e6;
  font-size: 20px;
}

.App {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  width: 500px;
}

.inputContainer {
  display: flex;
  align-items: last baseline;
  gap: 10px;
}

.inputContainer > span {
  margin-top: 5px;
}

.inputContainer_input {
  margin: 6px 0 0px 0;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  border-radius: 5px;
}

.input {
  border-radius: 5px;
  margin: 0;
  padding: 20px;
  border: 1px solid rgb(175, 173, 173);
  background-color: white;
  color: black;
  font-size: 20px;
  width: 400px;
}

.commentContainer > span {
  margin: 0 5px;
}

.reply {
  font-size: 16px;
  padding: 5px;
  border-radius: 5px;
  color: #6d6c6c;
  cursor: pointer;
  margin-right: 5px;
  margin-top: 15px;
  background-color: #e8eef5;
}

.reply:hover {
  color: black;
}

.commentButton {
  color: white;
  background-color: #ff4400bb;
  width: 100px;
  height: 35px;
  text-align: center;
  border-radius: 20px;
  padding: 10px;
  font-size: 16px;
}

.commentButton:hover {
  background-color: #ff4500;
  font-weight: bold;
  color: white;
}

.comment {
  color: black;
  background-color: white;
  border: 1px solid rgb(211, 210, 210);
  border-radius: 5px;
  letter-spacing: 0.8px;
  margin: 15px;
  padding: 15px;
  padding-left: 25px;
  font-size: 20px;
}
